.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.map-container {
  display: flex;
  justify-content: center;
  width: 100vw;
    height: 100vh;
}

canvas.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #265ec9;
  font-family: Sora;
  text-shadow: 0 0 1px #fff;
  border-bottom: 1px solid #ddd;
  font-size: 1.5rem;
}


@media (min-width: 650px) {
  .title { 
      font-size: 2.5rem
  }
  
}
